<%= form_for(@betting) do |f| %>
  <% if @betting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@betting.errors.count, "error") %> prohibited this betting from being saved:</h2>

      <ul>
      <% @betting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
